/* Fonts Used */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;500;700&family=Marcellus+SC&family=Roboto:wght@400;500;700&family=Rosario:wght@400;500;700&family=Ruda:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  input, textarea{
    padding: 6px;
    padding-left: 12px;
    margin: 0 2px 0 2px;
    border-radius: 8px;
    border: 1px solid #dee4e8;
  }
  textarea{
    resize: none;
  }
}
